<div class="confirmation">
  <form class="confirmation__section" [formGroup]="checkoutForm">
    <div class="confirmation__section-title">
      <h3>Enter your code previously sent to your email:</h3>
    </div>
    <div class="confirmation__section-input">
      <span>Code:</span>
      <input type="text" placeholder="Code" formControlName="code">
    </div>
    <div class="confirmation__section-button">
      <button [disabled]="!(canContinue | async)" (click)="verifyCode()">Verify code</button>
    </div>
  </form>
</div>